.Form {
  width: 250px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
}

.Label {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 25px;
  font-weight: bold;
  letter-spacing: 0.3em;
  align-items: center;
}

.Button {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  font-family: 'Nova Square';
}

.Button:before {
  content: '';
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.Button:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}

.Button:hover,
.Button:focus {
  scale: 1.02;
}

.BoxInput {
  position: relative;
}

.Border {
  background-image: linear-gradient(
    to right bottom,
    #e300ff,
    #ff00aa,
    #ff5956,
    #ffb900,
    #fffe00
  );
  box-shadow: -25px -10px 30px -5px rgba(225, 0, 255, 0.5),
    25px -10px 30px -5px rgba(255, 0, 212, 0.5),
    25px 10px 30px -5px rgba(255, 174, 0, 0.5),
    -25px 10px 30px -5px rgba(255, 230, 0, 0.5);
  padding: 4px;
}

.Input {
  background-color: #212121;
  min-width: 250px;
  height: 40px;
  padding: 0 19px 0 10px;
  font-size: 14px;
  position: relative;
  border: none;
  color: white;
  outline: 0;
  overflow: hidden;
  font-family: 'Nova Square';
}

.BoxInput::after,
.BoxInput::before {
  content: '';
  width: 130px;
  height: 30px;
  position: absolute;
  z-index: -1;
}

.BoxInput::after {
  bottom: 0;
  right: 0;
}

.BoxInput::before {
  top: 0;
  left: 0;
}

.Input::placeholder {
  transition: all 0.5s ease-in, transform 0.2s ease-in 0.6s;
}

.Input:focus::placeholder {
  padding-left: 165px;
  transform: translateY(-50px);
}
