@import-normalize; /* bring in normalize.css styles */

body {
  margin: 30px;
  max-width: 700px;
  margin: auto;
  overflow-y: scroll;
  background: rgb(91, 240, 57);
  background: linear-gradient(
    90deg,
    rgba(91, 240, 57, 0.5970763305322129) 0%,
    rgba(146, 46, 176, 0.6) 50%,
    rgba(0, 212, 255, 0.6) 100%
  );
  font-family: 'Nova Square', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.active {
  color: #503fe9;
}
